.event-card {
    min-height: 130px;
    border-radius: var(--medium-radius);
    padding: var(--spacing-m);
    position: relative;
    overflow: visible;
    background: var(--light-dark-color);
    box-shadow: inset 0px -1px 0px 0px #000;
    color: #FFF;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
}

.event-card.is-favorite {
    background: var(--dark-red-color);
}

h4 {
    display: block;
    padding: 0;
    margin: 0;
    padding-bottom: var(--spacing-m);
    padding-top: var(--spacing-m);
    font-weight: 700;
    font-size: 1.2em;
    font-style: normal;
    text-align: center;
}

.info-grid {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: var(--spacing-xl);
    grid-template-columns: repeat(3, 1fr);
}

.info-grid div.time {
    font-size: 1.1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.info-grid button.fav {
    color: inherit;
    font-size: 24px;
    background: none;
    border: none;
    outline: none;
    text-align: center;
    margin: 0px;
}

.info-grid button.fav.is-favorite {
    color: var(--red-color);
}

p.description::before {
    content: open-quote;
}

p.description::after {
    content: close-quote;
}

p.description {
    display: block;
    quotes: "„" "“" "‚" "‘";
    font-size: .8em;
    margin: 0;
    margin-bottom: var(--spacing-m);
    text-align: center;
    quotes: initial;
    word-wrap: anywhere;
}

.rating {
    /* position: absolute; */
    position: relative;
    width: 30px;
    right: 0px;
    top: 0px;
    border-radius: var(--medium-radius);
    line-height: 30px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
}

.rating-5 {
    background-color: #2e6b2e;
}

.rating-4 {
    background-color: #3a8742;
}

.rating-3 {
    background-color: #4ba355;
}

.rating-2 {
    background-color: #5dbf68;
}

.rating-1 {
    color: rgb(114, 53, 0);
    background-color: #ffbb00;
    text-shadow: 0px 0px 1px #FFF;
}

.rating-1-ster {
    color: rgb(114, 53, 0);
    background-color: #ffbb00;
    text-shadow: 0px 0px 1px #FFF;
}

.rating-1-ster:after {
    content: "*";
    position: absolute;
    bottom: -10px;
    background: linear-gradient(45deg, #ffe562, #ffb300);
    border-radius: var(--minimal-radius);
    font-size: 1.4em;
    line-height: 1;
    display: block;
    width: 20px;
    left: calc(50% - 10px);
    height: 15px;
    color: rgb(114, 53, 0);
    text-shadow: none;
}

.rating-1-ster-ster {
    background-color: #ffbb00;
    color: rgb(114, 53, 0);
    text-shadow: 0px 0px 1px #FFF;
}

.rating-1-ster-ster:after {
    content: "**";
    position: absolute;
    bottom: -10px;
    background: linear-gradient(45deg, #ffe562, #ffb300);
    border-radius: var(--minimal-radius);
    font-size: 1.4em;
    line-height: 1;
    display: block;
    width: 100%;
    left: 0;
    height: 17px;
    color: rgb(114, 53, 0);
    text-shadow: none;
}

.rating-1-ster-ster-ster {
    background-color: #ffbb00;
    color: rgb(114, 53, 0);
    text-shadow: 0px 0px 1px #FFF;
}

.rating-1-ster-ster-ster:after {
    content: "***";
    position: absolute;
    bottom: -10px;
    background: linear-gradient(45deg, #ffe562, #ffb300);
    border-radius: var(--minimal-radius);
    font-size: 1.4em;
    line-height: 1;
    display: block;
    width: 100%;
    left: 0;
    height: 17px;
    color: rgb(114, 53, 0);
    text-shadow: none;
}

.rating-1-ster-ster-ster-ster {
    background-color: #ffbb00;
    color: rgb(114, 53, 0);
    text-shadow: 0px 0px 1px #FFF;
}

.rating-1-ster-ster-ster-ster:after {
    content: "****";
    position: absolute;
    bottom: -10px;
    background: linear-gradient(45deg, #ffe562, #ffb300);
    border-radius: var(--minimal-radius);
    font-size: 1.3em;
    line-height: 1;
    display: block;
    left: -10;
    height: 17px;
    color: rgb(114, 53, 0);
    text-shadow: none;
}

.rating span {
    position: relative;
    z-index: 1;
}