.event-card {
    min-height: 130px;
    border-radius: var(--medium-radius);
    position: relative;
    overflow: visible;
    background: var(--light-dark-color);
    box-shadow: inset 0px -1px 0px 0px #000;
    color: #FFF;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
}

.event-card.is-favorite {
    background: var(--dark-red-color);
}

h4 {
    display: block;
    padding: var(--spacing-xl);
    margin: 0;
    background: rgba(0, 0, 0, 0.2);
    font-weight: 700;
    font-size: 1.2em;
    font-style: normal;
    text-align: center;
    word-break: break-word;
}

.info-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: var(--spacing-m);
}

.info-grid .info-time {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: rgba(225, 225, 225, 0.8);

}

.info-grid .info-rating {
    text-align: left;
}

.info-grid .info-fav {
    text-align: center;
}

@media (max-width: 400px) {
    .info-grid .info-fav {
        text-align: right;
    }
}

.info-grid button.fav {
    color: inherit;
    font-size: 24px;
    background: none;
    border: none;
    outline: none;
    margin: 0px;
    padding: 0px;
}

.info-grid button.fav.is-favorite {
    color: var(--red-color);
}

p.description::before {
    content: open-quote;
}

p.description::after {
    content: close-quote;
}

p.description {
    display: block;
    quotes: "„" "“" "‚" "‘";
    margin: 0;
    margin: var(--spacing-xl) var(--spacing-m);
    text-align: center;
    word-wrap: anywhere;
    text-wrap: balance;
}

.time {
    line-height: 30px;
}

.time .start-time {
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
}

.time .end-time {
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
}

@media (max-width: 400px) {
    .time {
        line-height: initial;
    }

    .time .start-time,
    .time .end-time {
        display: block;
    }

    .time .divider {
        display: none;
    }
}

.day {
    margin: 0px auto;
    width: fit-content;
    text-align: center;
    background: var(--background-color);
    border-radius: var(--medium-radius);
    margin-top: var(--spacing-m);
    padding: var(--spacing-m);
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
    font-weight: 600;
}

.country {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--spacing-m);
    text-align: left;
    color: rgba(225, 225, 225, 0.8);
    margin: var(--spacing-m) var(--spacing-xl);
}

.country .label {
    font-size: 14px;
}

.country i {
    font-size: 20px;
}

.rating {
    position: relative;
    width: 30px;
    right: 0px;
    top: 0px;
    border-radius: var(--medium-radius);
    line-height: 30px;
    text-shadow: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
}

.rating:after {
    display: block;
    position: absolute;
    text-shadow: none;
    bottom: -10px;
    font-size: 24px;
    line-height: 24px;
    height: 12px;
    background: linear-gradient(45deg, #ffe562, #ffb300);
    color: rgb(114, 53, 0);
    border-radius: var(--minimal-radius);
}

.rating-1-ster:after {
    content: "*";
    box-shadow: 0px 0px 0px 1px #FFF;
    width: 20px;
    left: calc(50% - 10px);
}

.rating-1-ster-ster:after {
    content: "**";
    box-shadow: 0px 0px 0px 1px #FFF;
    width: 100%;
    left: 0;
}

.rating-1-ster-ster-ster:after {
    content: "***";
    box-shadow: inset 5px 0px 6px 0px #FFF, 0px 0px 0px 1px #FFF, 0px 0px 2px 1px orange;
    left: calc(50% - 18px);
    width: 36px;
}

.rating-1-ster-ster-ster-ster:after {
    content: "****";
    box-shadow: inset 16px 0px 10px 0px #FFF, 0px 0px 0px 1px #FFF, 0px 0px 3px 2px orange;
    left: calc(50% - 25px);
    width: 50px;
}

.rating-1-ster-ster-ster-ster-ster:after {
    content: "*****";
    box-shadow: 0px 0px 0px 1px #FFF, 0px 0px 10px 2px orange;
    left: calc(50% - 25px);
    width: 50px;
}

.rating-5 {
    font-weight: 300;
    opacity: .7;
    background-color: #3a8742;
}

.rating-4 {
    font-weight: 300;
    opacity: .8;
    background-color: #3a8742;
}

.rating-3 {
    font-weight: 300;
    opacity: .9;
    background-color: #4ba355;
}

.rating-2 {
    background-color: #a98e3d;
}

.rating-1 {
    color: rgb(114, 53, 0);
    background-color: #ffbb00;
}

.rating-1-ster {
    color: rgb(114, 53, 0);
    background-color: #ffbb00;
}

.rating-1-ster-ster {
    background-color: #ffbb00;
    color: rgb(114, 53, 0);
}

.rating-1-ster-ster-ster {
    background-color: #ffbb00;
    color: rgb(114, 53, 0);
}

.rating-1-ster-ster-ster-ster {
    background-color: #ffbb00;
    color: rgb(114, 53, 0);
}

.rating-1-ster-ster-ster-ster-ster {
    background-color: #ffbb00;
    color: rgb(114, 53, 0);
    box-shadow: inset 0px 0px 20px 3px #FFF, 0px 0px 15px 2px orange;
}

.rating span {
    position: relative;
    z-index: 1;
}