<div [ngClass]="gig().favorite ? 'is-favorite' : ''" class="event-card">
   <span>
      <h4>{{ gig().artist }}</h4>
   </span>
   <span>
      <p class="description">{{gig().description}}</p>
   </span>
   <span>
      <div class="info-grid">
         <div class="info-rating">
            @switch (gig().rating) {
               @case (rating.VIJF) {
               <div class="rating rating-5"><span>5</span></div>
               }
               @case (rating.VIER) {
               <div class="rating rating-4"><span>4</span></div>
               }
               @case (rating.DRIE) {
               <div class="rating rating-3"><span>3</span></div>
               }
               @case (rating.TWEE) {
               <div class="rating rating-2"><span>2</span></div>
               }
               @case (rating.EEN) {
               <div class="rating rating-1"><span>1</span></div>
               }
               @case (rating.EEN_STER) {
               <div class="rating rating-1-ster"><span>1</span></div>
               }
               @case (rating.EEN_STER_STER) {
               <div class="rating rating-1-ster-ster"><span>1</span></div>
               }
               @case (rating.EEN_STER_STER_STER) {
               <div class="rating rating-1-ster-ster-ster"><span>1</span></div>
               }
               @case (rating.EEN_STER_STER_STER_STER) {
               <div class="rating rating-1-ster-ster-ster-ster rating-fire"><span>1</span></div>
               }
            }
         </div>
         <div class="info-time"><span>21:30</span>
         </div>
         <div class="info-fav">
            <button [ngClass]="gig().favorite ? 'is-favorite' : ''" (click)="setAsFavorite(gig())" class="fav"
               title="Favoriet"><i [ngClass]="gig().favorite ? 'ri-heart-fill' : 'ri-heart-line'"></i></button>
         </div>
      </div>
   </span>

</div>