.event-card {
    /* background: var(--light-dark-color); */
    border-radius: var(--medium-radius);
    padding: var(--spacing-m);
    position: relative;
    overflow: hidden;
    background: var(--light-dark-color);
    box-shadow: 0px 2px 2px -2px #000;
}

h4 {
    color: #FFF;
    padding: 0;
    margin: 0;
    padding-bottom: var(--spacing-m);
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.info-grid {
    display: grid;
    align-items: end;
    grid-template-columns: auto auto auto;
}

.info-grid div.time {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.info-grid button.fav {
    color: inherit;
    font-size: 24px;
    background: none;
    border: none;
    outline: none;
    text-align: right;
}

.info-grid button.fav.is-favoriet {
    color: red;
    text-shadow: 2px 0px 0px #FFF, 0px 2px 0px #FFF, -2px 0px 0px #FFF, 0px -2px 0px #FFF;
}

p.description::before {
    content: open-quote;
}

p.description::after {
    content: close-quote;
}

p.description {
    quotes: "„" "“" "‚" "‘";
    font-size: .8em;
    margin: 0;
    margin-bottom: var(--spacing-m);
    text-align: center;
    quotes: initial;
    font-family: var(--baskerville-font);
}

.rating {
    /* position: absolute; */
    position: relative;
    width: 40px;
    right: 0px;
    top: 0px;
    border-radius: var(--medium-radius);
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 1.2em;
}

.rating-5 {
    background-color: #2e6b2e;
}

.rating-4 {
    background-color: #3a8742;
}

.rating-3 {
    background-color: #4ba355;
}

.rating-2 {
    background-color: #5dbf68;
}

.rating-1 {
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 1px #FFF;
}

.rating-1-ster {
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 1px #FFF;
}

.rating-1-ster:after{
    content: "*";
    position: absolute;
    bottom: -10px;
    background: linear-gradient( 45deg, #ffe562, #ffb300);
    border-radius: var(--minimal-radius);
    font-size: 1.4em;
    line-height: 1;
    display: block;
    width: 100%;
    left: 0;
    height: 17px;
    color: #000;
    text-shadow: none;
}

.rating-1-ster-ster {
    background-color: #ffbb00;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 1px #FFF;
}

.rating-1-ster-ster:after{
    content: "**";
    position: absolute;
    bottom: -10px;
    background: linear-gradient( 45deg, #ffe562, #ffb300);
    border-radius: var(--minimal-radius);
    font-size: 1.4em;
    line-height: 1;
    display: block;
    width: 100%;
    left: 0;
    height: 17px;
    color: #000;
    text-shadow: none;
}

.rating-1-ster-ster-ster {
    background-color: #ffbb00;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 1px #FFF;
}

.rating-1-ster-ster-ster:after{
    content: "***";
    position: absolute;
    bottom: -10px;
    background: linear-gradient( 45deg, #ffe562, #ffb300);
    border-radius: var(--minimal-radius);
    font-size: 1.4em;
    line-height: 1;
    display: block;
    width: 100%;
    left: 0;
    height: 17px;
    color: #000;
    text-shadow: none;
}

.rating-1-ster-ster-ster-ster {
    background-color: #ffbb00;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 1px #FFF;
}

.rating-1-ster-ster-ster-ster:after{
    content: "****";
    position: absolute;
    bottom: -10px;
    background: linear-gradient( 45deg, #ffe562, #ffb300);
    border-radius: var(--minimal-radius);
    font-size: 1.3em;
    line-height: 1;
    display: block;
    left: -10;
    height: 17px;
    color: #000;
    text-shadow: none;
}

.rating span {
    position: relative;
    z-index: 1;
}