.wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 200px auto;
    line-height: 38px;
}

i { font-size: 24px;}

button {
    background: none;
    outline: none;
    border: none;
    color: var(--bright-color);
}

button.back {
    text-align: right;
}
span.day {
    text-align: center;
}
button.forward {
    text-align: left;
}