.wrapper {
    box-shadow: inset 0px -1px 0px 0px var(--light-dark-color);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 200px auto;
    line-height: 38px;
}

i { font-size: 30px;}

button {
    background: none;
    outline: none;
    border: none;
    color: var(--bright-color);
}

button.back {
    text-align: right;
}
span.day {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
}
button.forward {
    text-align: left;
}