<div class="wrapper">
    <button (click)="onToggleMenu()" class="locatie-filter-button">FILTER LOCATIES</button>
    @if(showMenu()) {
        <div class="filter-wrapper">
            <h3>FILTER LOCATIES</h3>
        <ul>
            @for (location of locations; track location) {
            <li>
                @if(locationIsSelected(location)) {
                <button class="active" (click)="onClick(location)">{{ location }}</button>
                } @else {
                <button class="inactive" (click)="onClick(location)">{{ location }}</button>
                }
            </li>
            }
        </ul>
    </div>
    }
</div>