div.wrapper {
    z-index: 100;
    position: fixed;
    bottom: 40px;
}


button.locatie-filter-button {
    outline: none;
    border: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    padding: 0px 10px 2px 10px;
    line-height: 38px;
    box-shadow: inset 0px 0px 0px 2px var(--light-dark-color);
    background: none;
    color: var(--bright-color);
    text-shadow: none;
    border-radius: var(--medium-radius);
    backdrop-filter: blur(25px);
}

div.filter-wrapper {
    position: fixed;
    bottom: 80px;
    padding-left: var(--spacing-xl);
    background: var(--transparant-black-color);
    backdrop-filter: var(--backdrop-blur);
    border-radius: var(--medium-radius);
    overflow: scroll;
}

ul {
    list-style-type: none;
    /* white-space:nowrap; */
    /* width: calc(100vw - var(--spacing-xl)); */
    margin: 0;
    padding: 0;

}

li {
    display: inline-block;
}

li button.active {
    background: var(--main-color);
    text-shadow: none;
    box-shadow: inset 0px 2px 0px 0px #FFFFFF78;
    color: var(--bright-color);
}

li button.inactive {
    background: none;
    color: var(--bright-color);
    text-shadow: none;
}

li button {
    font-weight: 400;
    font-size: 1em;
    padding: 0px 10px 2px 10px;
    line-height: 38px;
    box-shadow: inset 0px 0px 0px 2px var(--light-dark-color);
    margin-right: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
    border-radius: var(--medium-radius);
    backdrop-filter: blur(25px);
}