<div class="tap-bar-nav-wrapper">
    <ul>
        <li>
            <button>
                <i class="ri-layout-grid-line"></i>
                <span>Schema</span>
            </button>
        </li>
        <li>
            <button (click)="onToggleMenu()">
                <i class="ri-filter-2-line"></i>
                <span>Locaties</span>
            </button>
        </li>

        <li><button>
                <i class="ri-heart-line"></i>
                <span>Favorieten</span>
            </button>
        </li>
        <li><button><i class="ri-information-line"></i>
                <span>Info</span>
            </button>
        </li>
    </ul>
</div>