.event-list-container {
    overflow: scroll;
    scroll-snap-type: both proximity;
    display: grid;
    grid-auto-flow: column;
    width: 100vw;
    height: calc(100vh + 1px);
    /* anders geen sticky headers */
}

.event-list-container .event-list:first-child {
    margin-left: auto;
}

.event-list-container .event-list:last-child {
    margin-right: auto;
}

.event-list {
    scroll-snap-align: start;
    width: 45vw;
    max-width: 200px;
}

.event-list h3 {
    top: 0px;
    left: 0px;
    position: sticky;
    z-index: 100;
    align-self: start;
    font-size: 1em;
    text-align: center;
    text-shadow: none;
    border-bottom-left-radius: var(--medium-radius);
    border-bottom-right-radius: var(--medium-radius);
    margin: 0px;
    padding: var(--spacing-m);
    margin-bottom: var(--spacing-xl);
    margin-right: var(--spacing-xl);
    background: var(--main-color);
    background: linear-gradient(to right, var(--main-color), var(--main-dark-color));
    box-shadow: 0px 1px 0px 0px #232323, 0px 1px 10px 0px var(--background-color);
    color: var(--bright-color);
}

.event-list h3 span {
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding-right: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
}