.event-list-container {
    overflow: scroll;
    display: grid;
    grid-auto-flow: column;
    width: 100vw;
    height: calc(100vh + 1px);

    /* anders geen sticky headers */
}

.event-list-container .event-list:first-child {
    margin-left: auto;
}

.event-list-container .event-list:last-child {
    margin-right: auto;
}

.event-list {
    width: 60vw;
}

.event-list h3 {
    top: 0px;
    left: 0px;
    width: 100%;
    position: sticky;
    z-index: 100;
    align-self: start;
    font-size: 1.3em;
    text-align: center;
    text-shadow: none;
    border-radius: var(--medium-radius);
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
    background: var(--main-color);
    background: -webkit-linear-gradient(to right, var(--main-color), var(--main-dark-color));
    background: linear-gradient(to right, var(--main-color), var(--main-dark-color));
    box-shadow: inset 0px 2px 0px 0px #FFFFFF78;
    color: var(--bright-color);
}

.event-list h3 span {
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
    left: 0px;
    right: 0px;
    position: sticky;
    z-index: 100;
    align-self: start;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
    margin-bottom: var(--spacing-xl);
}