.event-list-container {
    position: relative;
    top: calc(75px + 40px);
    display: grid;
    grid-auto-flow: column;
    width: 100vw;
    max-width: fit-content;
    margin: 0px auto;
    padding-top: var(--spacing-xl);
    padding-bottom: 25vh;
}

@media (orientation:landscape) and (max-width: 844px) {
    .event-list-container {
        top: 40px;
    }
}

@media (orientation: portrait) {
    .event-list-container {
        top: calc(75px + 40px);
    }
}

.event-list-container .event-list:first-child {
    margin-left: auto;
    margin-left: var(--spacing-xl);
}

.event-list-container .event-list:last-child {
    margin-right: auto;
}

.event-list {
    width: 44vw;
    max-width: 300px;
    min-width: 170px;
}

@media (min-width: 810px) {
    .event-list {
        width: 26vw;
        max-width: 200px;
    }
}

.event-list h3 {
    min-height: 40px;
    align-content: center;
    top: calc(75px + 40px);
    left: 0px;
    position: sticky;
    z-index: 100;
    align-self: start;
    font-size: 1em;
    text-wrap: balance;
    text-align: center;
    text-shadow: none;
    padding: var(--spacing-m);
    margin: 0px;
    margin-bottom: var(--spacing-xl);
    margin-right: var(--spacing-xl);
    background: var(--bright-color);
    box-shadow: 0px 1px 0px 0px #232323, 0px 1px 10px 0px var(--background-color);
    color: var(--background-color);
    border-radius: var(--medium-radius);
}

@media (orientation:landscape) and (max-width: 844px) {
    .event-list h3 {
        top: 40px;
    }
}

@media (orientation: portrait) {
    .event-list h3 {
        top: calc(75px + 40px);
    }
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding-right: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
}