<div class="event-list-container">
    @for(location of selectedLocationsList(); track location) {
        @if(hasEventsForLocation(location)) {
            <div class="event-list">
                <h3><span>{{fullLocationTitle(location)}}</span></h3>
                <ul>
                    @for (event of eventList(); track event.artist) {
                        @if(event.location === location && (selectedDay() === Day.ALLE || event.day === selectedDay())) {
                            <li>
                                <app-event-card [selectedDay]="selectedDay()" [gig]="event"></app-event-card>
                            </li>
                        }
                    }
                </ul>
            </div>
        }
    }
</div>