<main class="main">
  <app-dialog-qr-code [isOpen]="dialogQrCodeIsOpen()" (close)="closeDialogQrCode()"></app-dialog-qr-code>
  <header class="header">
    <span></span>
    <span class="title">
      <h1>
        <span class="eurosonic">
          <span>e</span>
          <span>u</span>
          <span>r</span>
          <span>o</span>
          <span>s</span>
          <span>o</span>
          <span>n</span>
          <span>i</span>
          <span>c</span>
        </span
        ><span class="snelgids">
          <span>s</span>
          <span>n</span>
          <span>e</span>
          <span>l</span>
          <span>g</span>
          <span>i</span>
          <span>d</span>
          <span>s</span>
        </span>
      </h1>
      <!-- <h3>Opgesteld doorvan De Lijstjesman</h3> -->
    </span>
    <span class="share">
      <button (click)="openDialogQrCode()" class="share-with-qr" title="Delen met QR-code"><i class="ri-qr-code-line"></i></button>
      <button class="share-with-app" title="Delen"><i class="ri-share-2-line"></i></button>
    </span>
  </header>
  <div class="content">
    <router-outlet />
  </div>
  <app-tap-bar-nav></app-tap-bar-nav>
</main>

