/* app-root { 
    height: 100%;
} */

main {
    height: 100%;
    overflow: hidden;
}

.content {
    
}

header {
    line-height: 40px;
    position: relative;
    top: 0;
    text-align: center;
}

header h1 {
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    font-size: 1em;
    margin-right: var(--spacing-m);
}

header h3 {
    font-weight: 400;
    display: inline-block;
    margin: 0;
    font-size: 1em;
}

.bottom-wrapper {
    z-index: 200;
    position: fixed;
    width: 100%;
    bottom: 0px;
}