<div class="wrapper-info">
    <p>Welkom bij de Eurosonic Snelgids.<br />
        Deze app toont in een overzicht alle recensies die De Lijstjeman heeft opgeschreven.</p>
    <ul class="links">
        <li>
            <a
                href='https://docs.google.com/spreadsheets/d/1IpreXQt8gMkvbMWSK2IdzopMWqfGQDwEtRr4EY5Qoi8/edit?usp=sharing'>
                <i class="ri-file-excel-2-line"></i>
                <span>Snelgids spreadsheet</span>
            </a>
        </li>
        <li>
            <a href='https://publictest.bsky.cz/profile/richardridder.bsky.social'>
                <i class="ri-bluesky-line"></i> <span>Bluesky van De Lijstjesman</span>
            </a>
        </li>
        <li>
            <a href='https://esns.nl/en/festival/artists/'>
                <span>Officiële ESNS line-up</span>
            </a>
        </li>
    </ul>
</div>