<div class="wrapper-info">
    <p>Welkom bij de Eurosonic Snelgids.<br />
        Deze app toont in een overzicht alle recensies die De Lijstjeman heeft opgeschreven.</p>

        <!-- TODO gebruik share api -->
    <button class="share"><i class="ri-share-2-fill"></i>Delen</button>
    <ul class="links">
        <li>
            <a
                href='https://docs.google.com/spreadsheets/d/1IpreXQt8gMkvbMWSK2IdzopMWqfGQDwEtRr4EY5Qoi8/edit?usp=sharing'>
                <i class="ri-file-excel-2-line"></i>
                <span>Snelgids spreadsheet</span>
            </a>
        </li>
        <li>
            <a href='https://twitter.com/lijstjesman'>
                <i class="ri-twitter-fill"></i> <span>Twitter van De Lijstjesman</span>
            </a>
        </li>
        <!-- <li><i class="ri-spotify-fill"></i> <span>Spotify playlist</span></li>
        <li><i class="ri-github-fill"></i><span>Broncode van deze app</span></li> -->
    </ul>
</div>