div.wrapper-info {
    max-width: 450px;
    margin: 0px auto;
}

div.wrapper-info p {
    margin: var(--spacing-xl);  
    margin-top: calc(var(--spacing-xl) + var(--spacing-xl));  
    display: block;
    text-align: center;
    text-wrap: balance;
}

button.share {
    outline: none;
    border: none;
    background: var(--light-dark-color);
    color:  var(--light-color);
    padding: var(--spacing-xl);
    width: calc(100% - var(--spacing-xl) - var(--spacing-xl));
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    border-radius: var(--medium-radius);
    margin: var(--spacing-xl);
}

button.share i {
    font-size: 24px;
    margin-right: var(--spacing-xl);
}

div.wrapper-info ul.links {
    list-style-type: none;
    margin: 0px var(--spacing-xl) 0px var(--spacing-xl);
    padding: 0;
    display: grid;
    justify-items: center;
    gap: var(--spacing-xl);
    grid-template-columns: repeat(2, 1fr);
}

ul.links li {
    width: available;
    width: -moz-available;
    width: -webkit-available;
    padding: var(--spacing-xl);
    text-align: center;
    background: var(--light-dark-color);
    border-radius: var(--medium-radius);
}
ul.links li a { 
    text-decoration: none;
    color: inherit;
}

ul.links li i {
    display: block;
    font-size: 35px;
    margin-bottom: var(--spacing-xl);
}