<div class="wrapper-info">
    <p>Deze website toont in een overzicht alle recensies en cijfers die De Lijstjeman heeft opgeschreven in zijn snelgids sheet.</p>
    <ul class="links">
        <li>
            <a target="_blank"
                href='https://docs.google.com/spreadsheets/d/1IpreXQt8gMkvbMWSK2IdzopMWqfGQDwEtRr4EY5Qoi8/edit?usp=sharing'>
                <i class="ri-file-excel-2-line"></i>
                <span>Snelgids sheet van de Lijstjesman</span>
            </a>
        </li>
        <li>
            <a target="_blank" href='https://bsky.app/profile/richardridder.bsky.social'>
                <i class="ri-bluesky-line"></i> <span>Bluesky van De Lijstjesman</span>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://x.com/naituutstad">
                <i class="ri-twitter-line"></i> <span>Twitter van De Lijstjesman</span>
            </a>
        </li>
        <li>
            <a target="_blank" href='https://esns.nl/en/festival/artists/'>
                <i class="ri-music-2-line"></i> <span>Officiële ESNS line-up</span>
            </a>
        </li>
    </ul>
    <div class="made-by">
        <a target="_blank" href='https://github.com/Ffyud/eurosonic-snelgids'>
            <span><i class="ri-github-fill"></i>Broncode op Github</span>
        </a>
        <div class="me">Gemaakt door <a target="_blank" href="https://davidduyff.nl">David</a> <i>🧑🏻‍💻</i></div>
    </div>
</div>