body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    background: var(--background-color);
    color: var(--bright-color);
    font-family: "Arial", sans-serif;
}

:root {
    --spacing-xl: 15px;
    --spacing-m: 5px;

    --background-color: rgb(23, 31, 40);
    --dark-color: #000;
    --light-dark-color: #32475F;
    --bright-color: #fff3b3;
    --transparant-black-color: #222222bd;

    --main-color: #07b34c;
    --main-dark-color: #0575e6;

    --red-color: #ffa8a8;
    --dark-red-color: #514343;

    --backdrop-blur: blur(15px);

    --minimal-radius: 3px;
    --medium-radius: 15px;
    --heavy-radius: 30px;

    --skewed-radius: 48% 12%;
    --skewed-radius-reverse: 12% 48%;

    --box-shadow-button: inset 0px -2px 0px 2px #000;
}

button {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
}
