div.wrapper-favorites {
    height: calc(100vh - 40px - 60px);
    display: grid;
}

div.wrapper-favorites .header {
    line-height: 38px;
    text-align: center;
}
.no-results {
    align-self: center;
}

div.wrapper-favorites p {
    display: block;
    text-align: center;
}

div.wrapper-favorites .heart {
    text-align: center;
    font-size: 35px;
}